%grid3_c{
display: grid;
grid-template-columns: repeat(3 , 20%);
gap: 10px;
justify-content: center;
}
%grid10_c{
    display: grid;
    grid-template-columns: repeat(10 , 10%);
    row-gap: 10px;
    justify-content: center;
    }
%grid5_r{
    display: grid;
    grid-template-rows: repeat(5 , 20%);
    gap: 10px;
    justify-content: center;
}